Artifacts
Reference/obj
Reference/ReferenceContent/API/**
!Reference/ReferenceContent/API/index.md
Resources/DependentCodeUnits
Resources/Constants/CodeUnitDescription.*
Resources/Constants/CodeUnitName.*
Resources/Constants/CodeUnitVersion.*
Resources/Constants/CodeUnitMajorVersion.*
Resources/Constants/CommitDate.*
Resources/Constants/CommitId.*